trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageRepository: 'healthhelp-gs'
  containerRegistry: 'acrhealthhelprm558024.azurecr.io'
  dockerTag: 'latest'          # se quiser, depois troca pra $(Build.BuildId)

stages:
- stage: Build_Test_Image
  displayName: 'Build, Test e Docker Image'
  jobs:
  - job: Build
    displayName: 'Compilar, testar e publicar imagem'
    steps:
      - checkout: self

      # Java 21
      - task: JavaToolInstaller@0
        displayName: 'Garantir Java 21'
        inputs:
          versionSpec: '21'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'

      # Build + Testes com Gradle
      - task: Gradle@3
        displayName: 'Gradle clean test bootJar'
        inputs:
          gradleWrapperFile: 'gradlew'
          gradleOptions: '-Xmx3072m'
          publishJUnitResults: true
          testResultsFiles: '**/build/test-results/test/*.xml'
          tasks: 'clean test bootJar'

      # Publicar resultados de teste
      - task: PublishTestResults@2
        displayName: 'Publicar testes JUnit'
        condition: succeededOrFailed()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/build/test-results/test/*.xml'
          testRunTitle: 'JUnit - HealthHelp'

      # Build + Push da imagem no ACR
      - task: Docker@2
        displayName: 'Build e Push da imagem no ACR'
        inputs:
          containerRegistry: 'sc-acr-healthhelp2'   # <- seu service connection DOCKER
          repository: '$(imageRepository)'
          command: 'buildAndPush'
          Dockerfile: 'Dockerfile'
          tags: |
            $(dockerTag)

      # Publicar scripts com
