trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  # Nome do repositório da imagem dentro do ACR
  imageRepository: 'healthhelp-gs'

  # Endereço do seu ACR
  containerRegistry: 'acrhealthhelprm558024.azurecr.io'

  # Tag que será usada na imagem 
  dockerTag: 'latest'

stages:
- stage: BuildAndPush
  displayName: 'Build, Testes, Docker e Artefatos'
  jobs:
  - job: Build
    displayName: 'Compilar, testar, montar imagem e publicar artefatos'
    steps:
      - checkout: self

      # Garante Java 21 no agente
      - task: JavaToolInstaller@0
        displayName: 'Configurar Java 21'
        inputs:
          versionSpec: '21'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'

      # Build + testes com Gradle
      - task: Gradle@3
        displayName: 'Gradle clean test bootJar'
        inputs:
          gradleWrapperFile: 'gradlew'
          gradleOptions: '-Xmx3072m'
          publishJUnitResults: true
          testResultsFiles: '**/build/test-results/test/*.xml'
          tasks: 'clean test bootJar'

      # Publica resultado de testes 
      - task: PublishTestResults@2
        displayName: 'Publicar resultados de teste JUnit'
        condition: succeededOrFailed()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/build/test-results/test/*.xml'
          testRunTitle: 'HealthHelp - JUnit'

      # Build da imagem Docker usando o JAR já gerado e push pro ACR
      - task: Docker@2
        displayName: 'Build e Push da imagem no ACR'
        inputs:
          # NOME EXATO do service connection DOCKER que você criou
          containerRegistry: 'sc-acr-healthhelp2'
          repository: '$(imageRepository)'
          command: 'buildAndPush'
          Dockerfile: 'Dockerfile.ci'   
          tags: |
            $(dockerTag)

      # Publica a pasta scripts/ como Build Artifact pro Release usar
      - task: PublishBuildArtifacts@1
        displayName: 'Publicar scripts de infra (infra-scripts)'
        inputs:
          pathToPublish: 'scripts'
          artifactName: 'infra-scripts'
          publishLocation: 'Container'
